<h3>New travel</h3>
<div>
<!--  <div class="mb-3">-->
<!--    <label for="email" class="form-label">Email address</label>-->
<!--    <input type="email" class="form-control" id="email"-->
<!--           [(ngModel)]="user.email" placeholder="name@example.com">-->
<!--  </div>-->
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="travel.name" >
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <input type="text" class="form-control" id="description"
           [(ngModel)]="travel.description" >
  </div>
  <br>
  <br>
  <br>

  <div class="col-auto">
    <button type="button" class="btn btn-primary mb-3" (click)="saveTravel()">
      <ng-container *ngIf="!savingTravel; else saving">Save Travel</ng-container>
      <ng-template #saving>
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </ng-template>
    </button>
  </div>
</div>
