.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 16px;
}

.iconWrapper i {
  font-size: 17px;
}

.user-wrapper {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: 10px;
}

.user-wrapper i {
  font-size: 20px;
}

.user-wrapper.connected {
  background-color: white;
  border-radius: 20px;
}

.user-wrapper.connected i.fa-user {
  color: green;
}

.user-wrapper.connected > i.notif {
  color: orange;
}


