<div>
  <div>
    <h4>Balance</h4>
    <app-balance [balance]="balance"></app-balance>
  </div>
  <div>
    <h4>Repartition</h4>
    <div *ngFor="let s of allDeps" class="repart">
      <app-repartition-card [expense]="s" [connectedUser]="connectedUser" *ngIf="s.amount.toFixed(2) !== '0.00'"></app-repartition-card>
    </div>
    <br>
    <div id="spendWrapper">
      <h4>Spent</h4>
      <div class="container">
        <div class="row" *ngFor="let pers of allWhoSpent">
          <div class="col">{{pers}}</div>
          <ng-container *ngIf="howMuchSpentStr(pers) as spent">
            <div class="col col-mid">{{spent}}</div>
            <div class="col col-amount">{{spentPerDay(pers, spent).toFixed(2)}} /j</div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
