<div>
  <div>Expense: {{expense.name}}</div>
  <div>Total: {{expense.amount}}</div>
  <div>Date: {{expense.displayDate}}</div>
<!--  <div>Date: {{getTypeof(expense.date)}}</div>-->
  <div>Paid by: {{expense.payer}}</div>
  <div>
    Paid for
    <ul>
      <li *ngFor="let payee of expense.payees">{{payee}} {{(expense.amount * payee.e4xpenseRatio).toFixed(2)}}€</li>
    </ul>
  </div>
  <div>Categorie: {{expense.categorie}}</div>
</div>
<!--<button type="button" (click)="editExpense()">Edit expense</button>-->
<button type="button" class="btn btn-primary mb-3" (click)="editExpense()">Edit expense</button>
