<h3>Register</h3>
<div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email"
           [(ngModel)]="user.email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username"
           [(ngModel)]="user.username" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password"
           [(ngModel)]="user.password" >
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Re-enter password</label>
    <input type="password" class="form-control" id="password1"
           [(ngModel)]="user.password1" >
  </div>
  <br>
  <br>
  <br>
<!--  <div>-->
<!--    {{user.toString()}}-->
<!--  </div>-->

  <div class="col-auto">
    <button type="button" class="btn btn-primary mb-3" (click)="doRegister()">Register</button>
    <button id="regBtn" type="button" class="btn btn-success mb-3" (click)="goLogin()">Login</button>
  </div>

<!--  <div>-->
<!--    checkLocalStorage-->
<!--    {{checkLocalStorage()}}-->
<!--  </div>-->
</div>
